*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}
.parent{
    height: 100%;
    width: 100%;
    background-color: black;
    /* display: flex; */
}

/* Making navigation bar */
nav{
    /* margin-top: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
}

#logo{
    height: 50px;
    width: 100px;
    /* background-color: blue; */
    margin: 5px;
}

#logo h1{
    padding: 15px;
    font-size: 15px;
    font-family: system-ui, -apple-system;
    color: white;
}
#logo h1 span{
    font-size: 20px;
    color: red;
}


/* setting up buttons in menu */
nav ul li{
    margin:11px 30px;
    display: flex;
    justify-content: space-between; 
    display: inline-block;
    list-style: none;


}
nav ul li a{
    font-family: system-ui;
    color: white;
    text-decoration: none;
    position: relative;
}


nav ul li a::after{
    /*adding hover effect*/
    content: '';
    width: 0;
    height: 1.5px;
    background: #ff004f;
    position: absolute; 
    left: 0;
    bottom: -6px;
    transition: .3s;
}
nav ul li a:hover::after{
    /*adding hover effect*/
    content: '';
    width: 100%;
    height: 2px;
    background: tan;
    position: absolute;
    left: 0;
    bottom: -6px;
}

/* ********************** */


h1{
    color: white;
    font-family: system-ui;
    padding-top: 20px;

    padding-left: 200px;
    font-size: 60px;
}

.contact{
    margin-top: 50pxx;
    height: 250px;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 100px;
}

.contact img{
    /* margin-left: 30px;
    margin-top: 10px; */
    /* padding: 0px; */
    /* margin: 20px; */
    margin-left: 60px;
    margin-top: 20px;
    padding-left: 260px;
    transition: .5s;
    cursor: pointer;
}
.imgz:hover{
    transform: scale(1.2);
    transition: .5s;
}